[submodule "main_application/extensions/godot-cpp"]
	path = main_application/extensions/godot-cpp
	url = git@github.com:godotengine/godot.git
[submodule "main_application/extensions/SrgGdHelpers"]
	path = main_application/extensions/SrgGdHelpers
	url = git@github.com:VijABJ/SrgGdHelpers.git
